/* FONTS */
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600&subset=latin-ext');

/* VARIABLES */
$twitter:      #55acee;
$facebook:     #3b5998;
$googlePlus:   #dd4b39;
$instagram:    #125688;
$linkedin:     #007bb5;
$youtube:      #bb0000;
$rss:          #ff6600;
$pinterest:    #cb2027;
$yelp:         #af0606;
$skype:        #00aff0;

$socialMedias: (
    social-twitter:     $twitter,
    social-facebook:    $facebook,
    social-google-plus: $googlePlus,
    social-instagram:   $instagram,
    social-linkedin:    $linkedin,
    social-youtube:     $youtube,
    social-rss-feed:    $rss,
    social-pinterest:   $pinterest,
    social-yelp:        $yelp,
    social-skype:       $skype
) !default;

/* MIXIN */
@mixin socialColor($name, $color) {
    a.#{$name} {
        background-color: $color;
        border: 1px solid $color;
        &:hover {
            background-color: #fff;
            color: $color;
        }
    }
}


/* COMPONENTS */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    //min-height: 2000px;
}
*{
    transition: all 0.3s;
    box-shadow: none !important
}

/* ACF-MAP */
.acf-map {
    width: 100%;
    height: 400px;
}

